<% include parts/depend %>

<% include parts/navbar %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-3 sidebar">
      <% include parts/sidebar %>
    </div>
    <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-10">
      <div class="story">
        <div class="header">
          <h3 class="title">Decreasing Development Time in Node.js</h3>
          <h4 class="author">By Alex Preston Stosur Basset</h4>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor pulvinar cursus. Integer facilisis ipsum neque, eu aliquet sapien laoreet in. Integer elementum vitae nisi at ullamcorper. Maecenas luctus orci sit amet erat pulvinar fringilla. Vivamus convallis placerat tempus. Quisque feugiat eros a leo blandit malesuada. Maecenas varius libero eu diam efficitur, finibus mattis leo pulvinar. Curabitur pulvinar erat in neque maximus, at elementum lorem commodo. Maecenas condimentum vulputate magna in congue. Praesent vitae odio ut magna finibus feugiat et eu mi. Ut elementum ac leo at pharetra.</p>

          <p>Donec at mauris ut ante vehicula aliquam pellentesque vitae justo. Vivamus faucibus iaculis enim sit amet rutrum. Vestibulum laoreet vestibulum auctor. Sed varius sem ex, quis tristique urna rutrum eget. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie. Vestibulum volutpat quis lorem non viverra.</p>

          <p>Nulla facilisi. In nec velit a odio facilisis cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas commodo vulputate. In enim elit, semper quis velit sed, mattis lobortis ligula. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie.</p>
          <p>Donec at mauris ut ante vehicula aliquam pellentesque vitae justo. Vivamus faucibus iaculis enim sit amet rutrum. Vestibulum laoreet vestibulum auctor. Sed varius sem ex, quis tristique urna rutrum eget. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie. Vestibulum volutpat quis lorem non viverra.</p>

          <p>Nulla facilisi. In nec velit a odio facilisis cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas commodo vulputate. In enim elit, semper quis velit sed, mattis lobortis ligula. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie.</p>
        </div>
        <div class="footer">
          <p>5 Hours Ago</p>
        </div>
      </div>
      <div class="story">
        <div class="header">
          <h3 class="title">Reaping the Benefits of Inline CSS</h3>
          <h4 class="author">By Steven Hanna</h4>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor pulvinar cursus. Integer facilisis ipsum neque, eu aliquet sapien laoreet in. Integer elementum vitae nisi at ullamcorper. Maecenas luctus orci sit amet erat pulvinar fringilla. Vivamus convallis placerat tempus. Quisque feugiat eros a leo blandit malesuada. Maecenas varius libero eu diam efficitur, finibus mattis leo pulvinar. Curabitur pulvinar erat in neque maximus, at elementum lorem commodo. Maecenas condimentum vulputate magna in congue. Praesent vitae odio ut magna finibus feugiat et eu mi. Ut elementum ac leo at pharetra.</p>

          <p>Donec at mauris ut ante vehicula aliquam pellentesque vitae justo. Vivamus faucibus iaculis enim sit amet rutrum. Vestibulum laoreet vestibulum auctor. Sed varius sem ex, quis tristique urna rutrum eget. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie. Vestibulum volutpat quis lorem non viverra.</p>

          <p>Nulla facilisi. In nec velit a odio facilisis cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas commodo vulputate. In enim elit, semper quis velit sed, mattis lobortis ligula. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie.</p>
          <p>Donec at mauris ut ante vehicula aliquam pellentesque vitae justo. Vivamus faucibus iaculis enim sit amet rutrum. Vestibulum laoreet vestibulum auctor. Sed varius sem ex, quis tristique urna rutrum eget. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie. Vestibulum volutpat quis lorem non viverra.</p>

          <p>Nulla facilisi. In nec velit a odio facilisis cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas commodo vulputate. In enim elit, semper quis velit sed, mattis lobortis ligula. Donec finibus, ante vel imperdiet maximus, urna odio viverra ligula, eu ullamcorper orci tortor non felis. Nam eget massa nec sem efficitur hendrerit quis quis nibh. Suspendisse suscipit mattis molestie.</p>
        </div>
        <div class="footer">
          <p>5 Hours Ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
