<div class="sidebar-custom">
  <h2 class="sidebar-title">What's Popular</h2>
  <hr>
  <div class="block">
    <a class="title">Example Story</a>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="block">
    <a class="title">Example Story</a>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="block">
    <a class="title">Example Story</a>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <h2 class="sidebar-title">Write</h2>
  <hr>
  <div class="block">
    <a class="title">Write a New Story</a>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="block">
    <a class="title">View Your Stories</a>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
